# uncomment the following to ignore specific folder / files

.DS_Store
.ipynb_checkpoints
.snakemake
.snakemake/**

results/**
resources/**
logs/**
job_logs/**
data/**
writing/**
admin/**

# data/
# admin/
# results/
# *.tsv
# *.csv
# writing/
